<!doctype html>
<html>
<head>
    <title>Roulllete:Bank</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Bank Stats</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
   
        <form action="/bank" method='POST'>
          <button type="submit">Submit Bank</button>
        </form>
        <a href="/game"><button>Play game</button></a>
      
  
      


<script src="main.js"></script>

</body>
</html>
